/* @import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap"); */

body {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.height {
  height: 100vh;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid blue;
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: blue;
}

/* =================================== */
/* left-container*/

.flex-container {
  display: grid;
  grid-template-columns: 40px 150px auto 100px 100px;
  grid-template-rows: auto;
  gap: 5px;
  transition: background-color 0.8s ease;
}

.flex-container a {
  color: rgb(32, 155, 32);
  text-decoration: none;
  font-weight: 900;
}

.flex-container:hover {
  background-color: rgba(148, 148, 148, 0.328);
  border-radius: 5px;
}

/* Each individual row of tracks class */
.flex-item {
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-container > div:first-child {
  max-width: 20px; /* Set the specific size for the first column */
}

/* for each track */
.track-image {
  width: 100px;
  height: 100px;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 5px;
}

.track-container {
  background-color: rgb(47, 48, 47);
  color: white;
  padding: 20px;
}

.track-header {
  font-size: 25px;
  font-weight: 900;
}

/* all hero image  */
.hero-container {
  position: relative;
  width: 100%;
  height: 400px; /* Adjust the height as needed.What is best? */
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the last parameter (alpha) to control darkness */
}

.hero-text {
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 100px;
  margin: 0;
  background-color: rgba(47, 48, 47, 0.84);
}
