@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  border: 0;
  margin: 0;
  background-color: #000000;
}

h3 {
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3:hover {
  text-decoration: line-through;
  font-style: italic;
  color: #165526;
}

#hero-bg {
  /* background-color: rgb(34, 165, 94) !important; */
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(14, 1, 1, 1) 0%,
    rgba(13, 1, 1, 1) 25%,
    rgba(14, 69, 26, 1) 45%,
    rgba(1, 1, 24, 1) 100%,
    rgba(18, 64, 6, 1) 100%
  );
  /* border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px; */
  /* border-top-right-radius: 30px;
  border-top-left-radius: 30px; */
  border-bottom: 3px solid white;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.search input {
  height: 60px;
  text-indent: 25px;
  border-radius: 35px;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid #000000;
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: rgb(11, 11, 68);
  border-radius: 25px;
  border: none !important;
}

.search button:hover {
  background: #0e3f1a;
  border: none !important;
}

.search-btn {
  margin-top: 70px;
  border-radius: 50px !important;
}

.form {
  border-radius: 30px !important;
}

.musicfy-header {
  color: white !important;
  font-size: 70px !important;
  text-align: left !important;
  padding-left: 20px !important;
  margin-left: 50px !important;
  font-weight: 800;
}

.main-container {
  max-width: 1400px;
}

.left-half,
.right-half {
  max-width: 95%;
  padding: 40px;
  border-radius: 5px;
  /* text-align: center; */
  margin-top: 50px;
  height: 800px;
  overflow: scroll;
  /* align-items: center;
  justify-content: center; */
  /* background-color: rgb(255, 255, 255) !important; */
  background-color: #1e1e1e !important;
  color: white !important;
  /* border: 1px solid white; */
}

/* Cards */

.card-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  position: relative;
  text-align: center;
}

.card {
  background-color: white;
  color: black;
  border-radius: 10px;
}

.news-button {
  background-color: #0e3f1a;
  color: rgb(52, 225, 130);
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  padding: 5px 10px;
  font-size: 13px;
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button-one {
  background-color: #0e3f1a;
  color: rgb(46, 194, 113);
}

/* .button-two {
  background-color: rgb(95, 26, 97);
  color: white;
  
}

.button-three {
  background-color: rgb(119, 200, 227);
  color: white;
  border: none;
  font-weight: 500;
}

.button-four {
  background-color: rgb(203, 161, 10);
  color: white;
  border: none;
}

.button-five {
  background-color: #0e3f1a;
  color: white;
  border: none;
}

.button-six {
  background-color: #951212;
  color: white;
  border: none;
} */

.news-button:hover {
  background: #0e3f1a !important;
  border: none;
}

.card-title {
  color: rgb(20, 20, 112);
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.card-text {
  font-weight: lighter;
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* =================================== */
/* left-container*/

.flex-container {
  gap: 3px;
  transition: background-color 0.8s ease;
  display: flex;
  justify-content: left;
  flex: wrap;
  overflow-x: auto; /* Add horizontal scrolling */
}

.flex-container a {
  color: rgb(39, 39, 39);
  text-decoration: none;
  font-weight: 900;
}

.flex-container:hover {
  background-color: rgba(148, 148, 148, 0.328);
  border-radius: 5px;
}

/* Each individual row of tracks class */
.flex-item {
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 100px;
}
/* Select the first flex-item within the flex-container */
.flex-item:first-child {
  min-width: 20px !important;
}

.flex-item:nth-child(3) {
  min-width: 150px; /* Adjust the size as needed */
}
/* for each track */
.track-image {
  width: 100px;
  height: 100px;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 5px;
}

.track-container {
  background-color: rgb(47, 48, 47);
  color: white;
  padding: 10px;
}

.track-header {
  font-size: 25px;
  font-weight: 900;
}

/* all hero image  */
.hero-container {
  position: relative;
  width: 100%;
  height: 400px; /* Adjust the height as needed.What is best? */
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the last parameter (alpha) to control darkness */
}

.hero-text {
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 40px;
  margin: 0;
  background-color: rgba(47, 48, 47, 0.84);
}
